<a id="${ruleName}"></a>

## ${ruleName}

<pre>
${ruleName}(#foreach($attribute in $ruleInfo.attributeList)<a href="#${ruleName}-${attribute.name}">${attribute.name}</a>#if($foreach.hasNext), #end#end)
</pre>

${ruleInfo.docString}

**ATTRIBUTES**

| Name | Description | Type | Mandatory | Default |
| :--- | :--- | :--- | :--- | :--- |
#foreach ($attribute in $ruleInfo.attributeList)
| <a id="${ruleName}-${attribute.name}"></a>${attribute.name} | #if($attribute.docString.trim().isEmpty()) - #else ${attribute.docString} #end | ${attribute.type} | ${attribute.mandatory} | #if($attribute.name == "device_ids") *All devices* #else ${attribute.defaultValue} #end |
#end
